{{page-title "Ember Native Modal"}}

<div class="example-app">
  <h1 id="title">Ember Native Modal 👾</h1>
  <p>Uses the built in
    <a
      href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog"
    >dialog</a>
    in HTML.</p>

  <ModalExample />

  <DialogExample />
</div>